@using Flafel.Maui.Helpers

<div class="card">
    <div class="card__icon">
        <i class="fa-solid fa-user"></i>
    </div>
    <div class="card__username">Username Ahmed Mohammed Mostafa</div>
    <div class="card__position" style="background-color:@ColorsGnerator.GenerateRandomPastelColor()">كاشير</div>
</div>

@code{

}