.err {
    color: red;
    font-size: 1.1rem;
    font-weight: 600;
    display: none;
    margin-bottom: 0rem;
    width: 100%;
/*    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;*/
}

.err.active {
    display: block;
}
