@inherits LayoutComponentBase
@using Flafel.Infrastructure.Helpers;
@inject InitialDatabase initDatabse
@inject CustomAuthStateProvider AuthProvider

<div class="page @(!IsAuth ? "not-auth" : "")">
    <AuthorizeView>
        <Authorized>
            <NavMenu />
            <NavActionsMenu />
        </Authorized>
    </AuthorizeView>

    <main class="@(!IsAuth ? "not-auth" : "")">@Body</main>
</div>

@* class="@(!IsAuth ? "normal" : IsOpen ? "open" : "")" *@

@code {

    private bool isLoading = false;

    public bool IsOpen { get; set; } = true;

    public bool IsLoggedIn { get; set; } = false;

    private void ExpandBody() => IsOpen ^= true;

    private bool IsAuth { get => AuthProvider.IsSignedIn; }
}
