.page {
    display: grid;
    grid-template-columns: 16rem auto;
    grid-template-rows : 4.5rem auto;
    height: calc(100vh - 7rem);
}

.page.not-auth {
    grid-template-columns: auto;
    grid-template-rows: auto;
}

main {
    padding : 1rem;
    grid-column: 2;
    background-color: var(--color-very-light-gray);
    overflow : hidden;
}

main.not-auth {
    padding: 0rem;
}
