<div class="sidebar">

    <div class="sidebar__logo">
        <div class="sidebar__logo-content">
            <i class="fa-solid fa-falafel"></i>
        </div>
        <p>سكلانس</p>
    </div>

    <nav>
        <!-- ========== List ============  -->
        <ul class="sidebar-list">
            <NavMenuItem IsActive="true" Address="/" Icon="fa-solid fa-house" Title="الرئيسية" />
            <NavMenuItem Address="/" Icon="fa-regular fa-flatbread-stuffed" Title="طلب جديد" />
            <NavMenuItem Address="/" Icon="fa-regular fa-square-list" Title="قائمة الطلبات" />
            <NavMenuItem Address="/users" Icon="fa-solid fa-users" Title="المستخدمين" />
        </ul>
    </nav>

</div>

@code{

}